*.DB
*.db
*.FDB
*.dcu
*.html
*.css
*.gif
*.manifest
*.conf
*.msg
*.lng
*.fr3
*.WAV
*.ibeblock
*.sql
*.MDB
*.url
*.local
*.identcache
*.res
*.dproj
*.dll
*.stat
__history
/Source/Delphi/WinApp/PerioDeviceSyncTestApp.stat
